{% extends "./components/layout.html" %} {% block content %}

<!-- Form for new user registration -->
<p class="text-4xl mt-2 font-bold mb-3 text-indigo-900">
  New User Registration
</p>

<div
  class="px-8 py-6 shrink h-fit sm:h-300 md:h-550 items-center content-center w-full mx-5 my-1 bg-indigo-50 bg-opacity-40 rounded-xl shadow-md overflow-auto max-w-3xl"
  style="width: 85%"
>
  <form method="POST" action="">
    {{ form.hidden_tag() }} {{ form.username.label(class="label shrink text-xl
    text-indigo-700 font-medium mr-2")}}
    <p class="text-xs text-gray-500">
      (Name must be 8-20 characters long, contain only alphanumeric characters,
      dot or underscore)
    </p>
    {% for error in form.username.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %} 
    
    {{ form.username(class="bg-opacity-20 shrink bg-neutral-50
    w-full h-5 mt-1 mb-1 px-3 py-5 border rounded-md focus:outline-none
    focus:ring-1 focus:ring-indigo-400", placeholder="New User") }}
    
    {{
    form.password.label(class="shrink label text-xl text-indigo-700 font-medium
    mr-2") }}

    <p class="text-xs text-gray-500">
      (must contain minimum 8 characters, at least 1 uppercase letter, 1
      lowercase letter, 1 number and 1 special character)
    </p>

    {% for error in form.password.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
    
    {{ form.password( class="shrink bg-neutral-50 w-full h-5 mt-1
    mb-1 px-3 py-5 border bg-opacity-20 rounded-md focus:outline-none
    focus:ring-1 focus:ring-indigo-400", placeholder="************") }}
    
    {{
    form.confirm.label(class="shrink label text-xl text-indigo-700 font-medium
    mr-2") }} 
    
    {% for error in form.confirm.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
    
    {{ form.confirm( class="shrink bg-opacity-20 bg-neutral-50
    w-full h-5 mt-1 px-3 py-5 border rounded-md focus:outline-none focus:ring-1
    focus:ring-indigo-400", placeholder="************") }}

    <div class="flex items-center mt-6">
      {{ form.submit(class="mx-auto shrink px-4 py-2 bg-indigo-700 text-white
      rounded-md hover:bg-indigo-800 active:bg-indigo-900 w-60 uppercase
      tracking-wide") }}
    </div>
  </form>
</div>

{% endblock %}
