{% extends "./layouts/layout.html" %} {% block content %}

<!-- Page for displaying Statistics -->

<p class="text-4xl mt-2 font-bold mb-3 text-indigo-900">Statistics</p>

<div
  class="px-8 py-6 shrink h-fit items-center content-center w-full mx-5 my-1 bg-indigo-50 bg-opacity-60 rounded-xl shadow-md overflow-hidden max-w-3xl"
  style="width: 85%"
>
  <div class="flex flex-col font-medium items-center">
    <p class="text-xl shrink text-indigo-700 font-medium mr-2">
      The current total number of tasks:
    </p>
    <p class="shrink text-3xl text-indigo-900 font-medium mr-2">
      {{number_tasks}}
    </p>
    <br />
    <p class="text-xl shrink text-indigo-700 font-medium mr-2">
      The current total number of users:
    </p>
    <p class="shrink text-3xl text-indigo-900 font-medium mr-2">
      {{number_users}}
    </p>
 
  <button id="get_reports" class="mt-2 text-white mx-auto shrink px-4 py-2 bg-indigo-700 rounded-md hover:bg-indigo-800 active:bg-indigo-900 w-60 uppercase
  tracking-wide">Generate Reports</button>
  </div>
</div>

<script>
  document.getElementById("get_reports").addEventListener("click", function(){
      window.location.href = "/reports";
  });
</script>

{% endblock %}
