<!DOCTYPE html>
<html>
  <!-- Main layout for every pages -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <style>
      #bg_main {
        background-image: url("{{ url_for('static', filename='img/purple-pink-watercolor-texture-background_1083-169.jpg') }}");
        background-size: cover;
      }
    </style>
  </head>

  <body
    class="flex flex-row justify-center py-10 bg-slate-200"
    style="margin-left: 7vw; margin-right: 8vw"
    id="bg_main"
  >
    <div
      class="flex flex-row justify-center relative"
      style="height: 90vh; width: 85vw"
    >
      <div class="basis-40" id="sidemenu">
        {% include "./components/sidemenu.html" %}
      </div>

      <div
        class="flex flex-col bg-indigo-100 bg-opacity-50 grow items-center rounded-md"
        id="content"
      >
        <!-- See if there are success or error messages available in the flask session-->
        <!-- Show the message in red or green if the message is available -->
        {% with msg_err = session.get('msg_err') %} {% with success =
        session.get('success') %} {% if msg_err %}
        <div
          class="bg-red-500 rounded-md h-7 w-full text-white self-start text-center"
        >
          {{ msg_err }}
        </div>

        {% do session.update({'msg_err': None}) %} {% elif success %}
        <div
          class="bg-green-400 rounded-md h-7 w-full text-white self-start text-center"
        >
          {{ success }}
        </div>

        {% do session.update({'success': None}) %} {% else %}

        <div class="h-7"></div>
        <!-- Insert content -->
        {% endif %} {% endwith %} {% endwith %} {% block content %} {% endblock
        %}
      </div>
    </div>
  </body>
</html>
